{
  "rendezvous_address": "203.0.113.10",
  "rendezvous_port": 3478,
  "room_id": "example-room",
  "peer_id": "node-a",
  "auth_token": "change-this-secret",
  "adapter_name": "EasyTunnel",
  "local_tun_ipv4": "10.66.0.1",
  "tun_prefix": 24,
  "tun_mtu": 1452,
  "auto_config_ipv4": true,
  "keepalive_interval": 15,
  "peer_timeout": 45,
  "dummy_traffic_enabled": false,
  "punch_timeout": 30,
  "traversal_modes": "nat:true,nat4:true,ipv6:false,ipv4_relay:false",
  "nat4_source_port_start": 30000,
  "nat4_source_port_count": 25,
  "nat4_peer_port_offset": 20,
  "nat4_round_timeout": 10,
  "ipv6_accept_inbound": false,
  "ipv6_listen_port": 0,
  "ipv6_probe_host": "2400:3200::1",
  "ipv6_probe_port": 53,
  "ipv6_fallback_timeout": 15,
  "log_level": 1,
  "rendezvous_retry_delay_seconds": 5,
  "auto_wait_for_peer": false
}
